<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tarefa</th>
        <th scope="col">Data limite</th>
        <th scope="col">Prioridade</th>
        <th scope="col">Autor</th>
        <th scope="col">Indicador de tempo</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
<% @tasks_normal.each do |task| %>
      <tr>
        <th scope="row">1</th>
        <td><%= task.task_name %></td>
        <td><%= task.task_expire %></td>
        <td><%= task.task_urgency %></td>
        <td><%= task.username %></td>
      </tr>
<% end %>

  </tbody>
 </table>